body {
    font-family: 'Arial', sans-serif;
    /* background: linear-gradient(to bottom, #ff1a1a, #8c1212); */
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

header a:hover {
    text-decoration: none;
}

.donate-button {
    display: inline-block;
    background: white;
    color: #8c1212;
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px;
    margin-left: 0;
    margin-bottom: 2rem;
    text-decoration: none;
    box-shadow: 0px 3px 6px rgba(140, 18, 18, 0.3);
    /* Blood-colored box shadow */
}


header {
    position: relative;
    background: linear-gradient(to bottom, #8c1212, #4d0a0a);
    color: #fff;
    padding: 30px;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

.quotes {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.quote {
    background: linear-gradient(to bottom, #8c1212, #4d0a0a);
    color: #fff;
    padding: 30px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.quote:hover {
    transform: scale(1.03);
}

.quote blockquote {
    font-size: 1.2rem;
    margin: 0;
}

.footer {
    /* background: linear-gradient(to bottom, #8c1212, #4d0a0a); */
    background: linear-gradient(to bottom, #000, #4d0a0a);
    color: #fff;
    padding: 30px;
}

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-info {
    text-align: left;
    max-width: 400px;
}

h2 {
    font-size: 2.5rem;
    margin: 0 0 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 1rem;
    margin: 10px 0;
    color: white;
}

li a {
    font-size: 1rem;
    margin: 10px 0;
    color: white;
}

li a:hover {
    color: white;
}

.patient-collage {
    padding: 1rem;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.patient-collage img {
    max-width: 300px;
}

@media (width>500px) {
    .patient-collage {
        padding: 5rem;
        padding-top: 2rem;

    }

    .patient-collage img {
        max-width: 600px;
    }
}

@media (width>1000px) {
    .patient-collage {
        padding: 10rem;
        padding-top: 3rem;
    }

    .patient-collage img {
        max-width: none;
    }
}

.profile-photo img {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    float: right;
    outline: 2px solid white;
}

.motivation {
    display: flex;
    justify-content: center;
    /* background: linear-gradient(to bottom, #8c1212, #4d0a0a); */
    color: #fff;
    padding: 40px;
}

.motivation-quote {
    background: white;
    border: 2px solid black;
    color: black;
    padding: 30px;
    border-radius: 15px;
    max-width: 700px;
    text-align: center;
}

.quote-text {
    font-size: 2rem;
}

.motivation-text {
    font-size: 1.3rem;
    margin: 20px 0;
}

.motivation-link {
    text-decoration: none;
    background: linear-gradient(to bottom, #8c1212, #4d0a0a);
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
}

.motivation-link:hover {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to bottom, #6a0d0d, #330505);
}

@media (max-width: 600px) {
    .quote blockquote {
        font-size: 0.8rem;
        margin: 0;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }

    .quote-text {
        font-size: 1.5rem;
    }

    .motivation-text {
        font-size: 1rem;
        margin: 20px 0;
    }

}